<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.SqlClient" version="1.0.19189.1-Preview" targetFramework="net47" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.0.19178.1-Preview" targetFramework="net47" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net47" />
</packages>